*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}

.login{
    height:80vh;
    width:70%;

    /*to center it all*/
    position: absolute;
    top:50%;
    left:50%;
    transform:  translate(-50%,-50%);
    text-align: center;
    display: inline-flex;
    border-radius: 20px;
    box-shadow: 1px 1px 28px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 1px 28px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 28px 8px rgba(0,0,0,0.75);
}

.pic{
    height:100%;
    width:50%;
    background: #575151;
    /*background: rgb(243, 99, 120);*/
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    
}

/*.pic img{
    background:rgb(189, 69, 89);
  height:100%;
  width:100%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
  /*opacity: .79;
}*/


h3, p{
    font-family: 'Inter', sans-serif;
}

h1{
    font-family: 'Pacifico', cursive;
    color: #817F84;
    /*color:rgb(218, 145, 157);*/
}

.form{
    height: 100%;
    width: 50%;
    padding: 30px;
}

.input-field{
    height:40px;
    width: 80%;
    border: 1px solid rgb(202, 198, 200);
    outline: none;
    padding: 5px 40px;
    margin-top: 10px;
    font-size: medium;
    border-radius: 20px;
    
}

.icon{
    position: absolute;
    padding: 20px;
    color: rgb(165, 157, 157);

}

.p1{
    padding: 20px 0;
    color: rgb(165, 157,157);

}

button{
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    margin: 20px 0;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: #817F84;
    /*background: rgb(243, 99, 123);*/
    transition: all 0.4s;


}

button:hover{
   /* background: rgb(189, 69, 89);*/
   background: rgb(63, 61, 71);
}

a{
    text-decoration: none;
    color:rgb(165, 157,157);
    /*color:rgb(243, 99, 123);*/
    font-weight:800;

}

.links{
    display: inline-flex;
}

.circle{
    height:40px;
    border-radius:50%;
    background: white;
    margin: 30px 10px;
    cursor: pointer;
    padding: 12px;
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.75);
}

.fa-facebook{
    color:blue;
}

.fa-google{
    color: navy;
}

.fa-instagram{
    color: red;

}

.fa-twitter{
    color:dodgerblue;
}